@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: rgba(32, 41, 64, 1);
  --secondary-color: rgba(202, 170, 152, 1);
  --secondary-color_75: rgba(202, 170, 152, 0.75);
  --tertiary-color: rgba(154, 134, 120, 1);
  --menu-color: rgba(75, 64, 56, 1);
  --color-done: rgba(0, 255, 0, 0.15);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

a {
  /* color: var(--secondary-color); */
  text-decoration: none;
}
/*
a:hover {
  color: var(--tertiary-color);
} */

ul {
  list-style: none;
  margin: inherit;
}

.container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: 3rem 1fr auto;
}

.btn {
  font-size: 1.1rem;
}

.active {
  color: var(--secondary-color);
}

.done {
  background-color: var(--color-done);
  text-decoration: line-through;
  color: var(--secondary-color_75);
}

/* ####################################################
# Стили меню
#################################################### */
.header {
  background-color: var(--menu-color);
  /* position: fixed;
  width: 100%;
  left: 0; */
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2rem;
  min-height: 3rem;
}

.logo {
  color: var(--tertiary-color);
  font-size: 1.8rem;
  letter-spacing: -0.15rem;
  font-weight: bold;
}

.nav {
  transition: all 0.3s ease-in-out;
}

.nav__list {
  display: flex;
  column-gap: 1.25rem;
}

.nav__link {
  font-size: 1rem;
  color: var(--secondary-color_75);
  transition: all 0.3s;
}

.nav__link:hover,
.nav__link:focus {
  color: var(--secondary-color);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  height: 2px;
  width: 2rem;
  background-color: var(--tertiary-color);
  margin: 0.5rem 0;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 56rem) {
}

@media (max-width: 48rem) {
  .nav {
    position: fixed;
    top: 3rem;
    left: 0;
    background-color: var(--menu-color);
    width: 100%;
    transform: translateX(-100%);
  }

  .nav__item {
    padding-block: 0.25rem;
  }

  .nav__list {
    flex-direction: column;
    align-items: center;
    row-gap: 1.25rem;
  }

  .hamburger {
    display: block;
  }
}
/* Menu styles for JS  */
.nav--open {
  transform: translateX(0);
}

.hamburger--open .bar:nth-child(1) {
  transform: translateY(0.6rem) rotate(45deg);
}
.hamburger--open .bar:nth-child(2) {
  opacity: 0;
}
.hamburger--open .bar:nth-child(3) {
  transform: translateY(-0.6rem) rotate(-45deg);
}

/* Main block */
.main {
  padding-inline: 2rem;
}

/* ToDo Block */
#todo__content {
  /* display: flex; */
  display: grid;
  grid-template-columns: 1fr 20rem;
}
.todo__form {
  width: 100%;
  /*max-width: 35rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; */

  .todo__input-header {
    width: 100%;
    font-size: 1.2rem;
    /* border-radius: 1rem; */
    padding: 0.5rem 1rem;
    border: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-bottom: thin solid var(--secondary-color_75);
  }

  .todo__textarea-text {
    width: 100%;
    height: 7rem;
    margin-block-start: 0.5rem;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    /* border-radius: 1rem; */
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: thin solid var(--secondary-color_75);
    outline: none;
  }

  .btn__todo-add {
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    background-color: var(--menu-color);
    color: var(--secondary-color-75);
    border: none;
  }
}

.no_todo__card {
  /* background-color: gray;
  border-radius: 2rem; */
  padding: 1rem;
  margin-block-end: 1rem;
  margin-inline-end: 1rem;
}

.todo__card {
  /* background-color: gray; */
  /* border-radius: 2rem; */
  border-top: thin solid var(--secondary-color_75);
  border-bottom: thin solid var(--secondary-color_75);
  padding: 1rem;
  margin-block-end: 1rem;
  margin-inline-end: 1rem;

  .todo__card-actions {
    text-align: right;
  }

  .todo__card-actions > .btn {
    background-color: transparent;
    border: none;
  }
}

@media (max-width: 56rem) {
  #todo__content {
    grid-template-columns: 1fr;
  }
}

/* Links block */
.links-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block-end: 1rem;
}
.btn__add-link {
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  background-color: var(--menu-color);
  color: var(--secondary-color-75);
  border: none;
  cursor: pointer;
}

.cards-grid {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

.card__link {
  width: 15rem;
  padding: 1rem;

  border: thin solid var(--tertiary-color);
}

.card__header {
  display: flex;
  justify-content: space-between;

  h3 > a {
    color: wheat;
  }
}
